doctype html
html
    head
        title Ares
    body
        script(type="text/javascript" src="pixi.js")
        script(type="text/javascript" src="p2.js")
        script(type="text/javascript" src="phaser-creature.js")
        script(type="text/javascript" src="ares.js")
