doctype html
html
    head
        title Ares
        link(href='css/style.css', rel='stylesheet')
        
        script(type="text/javascript" src="phaser.js")
        script(type="text/javascript" src="socket.io.js")
        
    body
        #life_bar.progress_bar
          #life.progress
          
        #energy_bar.progress_bar
          #energy.progress
          
        #target
          h1 Target
          #target_info
        
        #allies
          h1 Allies
          #allies_info
        
        #ares
        
        #skill_bar
          - for (var i = 0; i < 8; i++)
            - var id_skill = 'skill_' + i
            button(class='spell_available', id=id_skill)= id_skill
            
        
          
        
        script(type="text/javascript" src="ares.js")
